@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
}

body {
  transition: background-color 0.4s ease;
}

/* Utilities */

.h2-bold {
  font-family: "Plus Jakarta Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.24px;
}

.h3-semibold {
  font-family: "Plus Jakarta Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2.24px;
}

.h5-semibold {
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.44px;
}

.xxl-regular {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.xl-regular {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
}

.l-regular {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
}

.m-bold {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.m-semibold {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.m-regular {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.s-regular {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.primary-button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: var(--White, #fff);
  text-decoration: none;
  transition: all 0.3s;
}

.primary-button p {
  color: var(--color-black-Primary, #1b1b1b);
}

.primary-button svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.secondary-button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  transition: all 0.3s;
}

.secondary-button p {
  color: var(--White, #fff);
}

/* Navbar */

.header {
  display: inline-flex;
  height: 56px;
  padding: 0 40px;
  align-items: center;
  gap: 80px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);

  position: fixed;
  z-index: 1000;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
}

/* 👇 visible */
.header.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

/* 👇 hidden (slide up) */
.header.hide {
  transform: translate(-50%, -120%);
  opacity: 0;
}

.header img {
  height: 40px;
  object-fit: cover;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 19px;
}

.header nav a {
  display: flex;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-black-Primary, #1b1b1b);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
  flex-shrink: 0;
}

.header nav a:hover {
  color: var(--Vermilion-Red, #c3262b);
}

.navbar-button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: var(--color-black-Primary, #1b1b1b);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  border: 1px solid #1b1b1b;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-button:hover {
  background: none;
}

.navbar-button p {
  color: var(--White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
  flex-shrink: 0;
  transition: all 0.3s;
}

.navbar-button:hover p {
  color: #1b1b1b;
}

/* Home */

.home-banner {
  min-height: 100svh;
  padding: 150px 0px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
}

.home-banner::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 50%;
  transform: translate(-10%, -50%);
  background: linear-gradient(-90deg, transparent 10%, #fff 80%);
  z-index: 1;
  filter: blur(5px);
}

.home-banner::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0px;
  top: 50%;
  transform: translate(10%, -50%);
  background: linear-gradient(90deg, transparent 10%, #fff 80%);
  z-index: 1;
  filter: blur(5px);
}

.home-banner-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.home-banner-heading-text {
  display: flex;
  width: 100%;
  max-width: 767px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-banner-heading-text h1 {
  color: var(--color-black-Primary, #1b1b1b);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2.08px;
}

.home-banner-heading-text h1 span {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2.08px;
}

.home-banner-heading-text p {
  color: var(--color-grey-700, #575757);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
}

.home-banner-heading .navbar-button {
  border: none;
}

.home-banner-heading .navbar-button:hover {
  background: #c3262b;
}

.home-banner-heading .navbar-button:hover p {
  color: #fff;
}

.home-banner-background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.home-banner-background-wrapper {
  width: 100%;
  overflow: hidden;
}

.home-banner-background-marquee {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.home-banner-background-marquee img {
  width: 140px;
  height: 172px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 12px;
}

.home-banner-background
  .home-banner-background-wrapper:last-child
  .home-banner-background-marquee {
  animation: marqueeScroll 30s linear infinite reverse;
}

.home-banner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.home-banner-container::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250%;
  height: 200%;
  background: #fff;
  filter: blur(65px);
  z-index: 1;
}

.home-banner-container-logo {
  height: 100%;
  aspect-ratio: 83/140;
  object-fit: cover;
  z-index: 2;
}

.home-marquee {
  width: 100%;
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
}

.home-marquee-left {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 100%;
  background: linear-gradient(-90deg, transparent, #fff 80%);
}

.home-marquee-right {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff 80%);
}

.home-marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.home-marquee-container {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeScroll 30s linear infinite reverse;
}

.home-marquee-container img {
  height: 120px;
  object-fit: cover;
  margin-left: 100px;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverseScroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.home-reality-wrapper {
  min-height: 200svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.home-reality {
  position: sticky;
  top: 0;

  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
  gap: 64px;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

@keyframes realitySectionAnim {
  0% {
    opacity: 0;
    scale: 0.8;
    filter: blur(20px);
  }

  20% {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }

  80% {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }

  100% {
    opacity: 0;
    scale: 0.8;
    filter: blur(20px);
  }
}

.home-reality-container img,
.home-reality-container p {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.home-reality-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 80px;
}

.home-reality-container img {
  width: 40%;
  aspect-ratio: 455/288;
  object-fit: cover;
  border-radius: 8px;
}

.home-reality-container p {
  width: 100%;
  color: var(--color-black-400, #414141);
}

.home-reality-animation-1 {
  animation: homeReailtyAnimation1 6s linear infinite;
}

@keyframes homeReailtyAnimation1 {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  20% {
    opacity: 1;
    filter: blur(0);
  }
  80% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(20px);
  }
}

.home-reality-animation-2 {
  position: relative;
  animation: homeReailtyAnimation1 6s linear infinite;
  z-index: 2;
}

.home-reality-animation-2::before {
  z-index: -1;
  content: " ";
  position: absolute;
  width: 50%;
  height: 80%;
  border-radius: 8px;
  border: 1px solid var(--Vermilion-Red, #c3262b);
  left: 70%;
  transition: all 0.3s;
  animation: homeReailtyAnimation2Before 6s linear infinite;
}

@keyframes homeReailtyAnimation2Before {
  0% {
    left: 70%;
  }
  30% {
    left: 70%;
  }
  40% {
    left: -3%;
  }
  70% {
    left: -3%;
  }
  100% {
    left: -3%;
  }
}

.template-heading h3 span.home-reality-animation-3 {
  color: #cacaca;
  animation: homeReailtyAnimation3 6s linear infinite;
}

@keyframes homeReailtyAnimation3 {
  0% {
    opacity: 0;
    filter: blur(20px);
    color: #cacaca;
  }
  10% {
    opacity: 1;
    filter: blur(0);
    color: #cacaca;
  }
  60% {
    opacity: 1;
    filter: blur(0);
    color: #cacaca;
  }
  70% {
    opacity: 1;
    filter: blur(0);
    color: #cacaca;
  }
  80% {
    opacity: 1;
    filter: blur(0);
    color: #c3262b;
  }
  90% {
    opacity: 1;
    filter: blur(0);
    color: #c3262b;
  }
  100% {
    opacity: 0;
    filter: blur(20px);
    color: #c3262b;
  }
}

.home-reality-animation-3-toggle {
  width: 81px;
  height: 45.36px;
  border-radius: 100px;
  background: #d9d9d9;
  padding: 6px;
  display: inline-block;
  animation: homeReailtyAnimation3Toggle 6s linear infinite;
}

@keyframes homeReailtyAnimation3Toggle {
  0% {
    width: 0;
    background: #d9d9d9;
    opacity: 0;
  }
  20% {
    width: 0px;
    background: #d9d9d9;
    opacity: 0;
  }
  40% {
    width: 81px;
    background: #d9d9d9;
    opacity: 1;
  }
  60% {
    width: 81px;
    background: #d9d9d9;
    opacity: 1;
  }
  70% {
    width: 81px;
    background: #d9d9d9;
    opacity: 1;
  }
  80% {
    width: 81px;
    background: #2cc83e;
    align-items: flex-end;
  }
  100% {
    width: 81px;
    background: #2cc83e;
    align-items: flex-end;
  }
}

.home-reality-animation-3-toggle-dot {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #fff;
  animation: homeReailtyAnimation3ToggleDot 6s linear infinite;
}

@keyframes homeReailtyAnimation3ToggleDot {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  20% {
    opacity: 0;
    transform: translateX(0);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.home-reality-animation-4 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  animation: homeReailtyAnimation1 6s linear infinite;
}

.template-heading .home-reality-animation-4 svg {
  width: 69.875px;
  height: 46.583px;
  animation: homeReailtyAnimation4SVG 6s linear infinite;
}

@keyframes homeReailtyAnimation4SVG {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 69.875px;
  }
  60% {
    width: 69.875px;
  }
  75% {
    width: 69.875px;
    fill: none;
  }
  80% {
    width: 69.875px;
    fill: none;
  }
  100% {
    width: 69.875px;
    fill: none;
  }
}

.template-heading .home-reality-animation-4 svg path {
  animation: homeReailtyAnimation4SVGpath 6s linear infinite;
}

@keyframes homeReailtyAnimation4SVGpath {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 69.875px;
  }
  60% {
    fill: #c3262b;
  }
  75% {
    fill: none;
    stroke-width: 1px;
    stroke: var(--Vermilion-Red, #c3262b);
  }
  80% {
    fill: none;
    stroke-width: 1px;
    stroke: var(--Vermilion-Red, #c3262b);
  }
  100% {
    fill: none;
    stroke-width: 1px;
    stroke: var(--Vermilion-Red, #c3262b);
  }
}

.home-parle-wrapper {
  width: 100%;
  min-height: 200svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-parle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  padding: 80px 0px;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-parle .template-heading {
  padding: 0px 160px;
}

.home-parle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.home-parle-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-parle-set {
  width: 100%;
  padding: 0px 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-shrink: 0;
}

.home-parle-set video {
  border-radius: 8px;
}

.home-parle-set-video-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #5d1215;
  grid-row: span 2;
}

.home-parle-set-video-2 {
  width: 100%;
  aspect-ratio: 535/231;
  object-fit: cover;
  grid-column: span 2;
}

.home-parle-set p {
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  background: var(--BG, #f4f0e9);
  grid-row: span 2;
}

.home-parle-set-video-3 {
  width: 100%;
  aspect-ratio: 257/174;
  object-fit: cover;
}

.home-parle-set-video-4 {
  width: 100%;
  aspect-ratio: 257/174;
  object-fit: cover;
}

.home-parle .template-heading svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.home-holi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 80px 160px;

  position: sticky;
  top: 0;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-holi-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-holi-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-holi-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.home-holi-text h2 {
  color: var(--Vermilion-Red, #c3262b);
  font-family: "Press Start 2P";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.home-holi-sub-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.home-holi-content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  align-self: stretch;
}

.home-holi-content h3 {
  color: var(--color-black-Primary, #1b1b1b);
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.home-holi-content h3 span {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.home-holi-content svg {
  width: 149px;
  height: 61px;
}

.home-holi-sub-text .l-regular {
  color: var(--color-grey-700, #575757);
}

.home-diwali .home-holi-img img {
  max-height: 80svh;
  height: 100%;
  width: auto;
}

.home-diwali .home-holi-content h3 {
  line-height: 120%;
}

.home-diwali .home-holi-content h3 span {
  display: inline-flex;
}

.home-diwali-numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-top: 40px;
}

.home-diwali-numbers-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.home-diwali-numbers-set span {
  color: var(--color-black-400, #414141);
  font-family: "Plus Jakarta Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.24px;
}

.home-diwali-numbers-set p {
  color: var(--color-black-Primary, #1b1b1b);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.home-impact-wrapper {
  min-height: 200svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.home-impact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  padding: 80px 160px;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-impact .template-heading p {
  width: 400px;
}

.home-impact-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.home-impact-container-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 180px;
  overflow: hidden;
  padding: 0px 20px;
}

.home-impact-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}

.home-impact-left-set {
  display: flex;
  width: 90%;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  opacity: 0.6;
  background: var(--White, #fff);
  transition: all 0.3s;
}

.home-impact-left-set.home-impact-left-set-active {
  width: 100%;
  opacity: 1;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.home-impact-left-set-icon {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Deep-Teal-Green, #0f4d4c);
  flex-shrink: 0;
}

.home-impact-left-set-icon img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home-impact-left-set p {
  color: var(--color-black-Primary, #1b1b1b);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.4px;
  white-space: nowrap;
  transition: all 0.3s;
}

.home-impact-left-set.home-impact-left-set-active p {
  font-size: 24px;
  font-weight: 600;
}

.home-impact-container-right {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.home-impact-line {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.home-impact-container-right::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 50%;
  transform: translate(-10%, -50%);
  background: linear-gradient(-90deg, transparent 10%, #f4f0e9 90%);
  z-index: 1;
  filter: blur(5px);
}

.home-impact-container-right::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0px;
  top: 50%;
  transform: translate(10%, -50%);
  background: linear-gradient(90deg, transparent 10%, #f4f0e9 90%);
  z-index: 1;
  filter: blur(5px);
}

.home-impact-right-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 10%);
  background: linear-gradient(180deg, transparent 10%, #f4f0e9 60%);
  z-index: 1;
  filter: blur(5px);
}

.home-impact-right {
  width: 100%;
  overflow: hidden;
}

.home-impact-right-marquee {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.home-impact-right-marquee img {
  width: 100%;
  object-fit: cover;
}

.home-impact-text {
  position: absolute;
  bottom: 0;
  color: #6b6b6b;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.28px;
  z-index: 10;
}

.home-impact-text span {
  color: var(--color-black-Primary, #1b1b1b);
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.28px;
}

.home-impact-text svg {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  transform: translateY(2px);
}

.home-brands-wrapper {
  min-height: 200svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.home-brands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  padding: 80px 0px 80px 160px;

  position: sticky;
  top: 0;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-brands .template-heading h3 span {
  animation: brandsHeading 10s ease-in-out infinite;
}

@keyframes brandsHeading {
  0% {
    color: #c3262b;
  }
  40% {
    color: #ffffff;
  }
  60% {
    color: #ffffff;
  }
  100% {
    color: #c3262b;
  }
}

.home-brands-left {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.home-brands .template-heading {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.home-brands .template-heading p {
  width: 100%;
}

.home-brands-buttons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.home-brands-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 100px;
  background: rgba(202, 202, 202, 0.2);
  border: none;
  transition: all 0.3s;
}

.home-brands-button:hover {
  background: rgba(202, 202, 202, 0.5);
}

.home-brands-button:active {
  background: #606060;
}

.home-brands-button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.home-brands-right {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  align-self: stretch;
}

.home-brands-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.home-brands-set {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.home-brands-set img {
  width: 100%;
  height: 100%;
  aspect-ratio: 328/424;
  object-fit: cover;
  border-radius: 8px;
}

.home-brands-set p {
  color: var(--color-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
}

.home-brands-set p span {
  color: var(--Deep-Teal-Green, #0f4d4c);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
}

.template-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.template-heading h3 {
  align-items: flex-end;
  color: var(--color-black-Primary, #1b1b1b);
}

.template-heading h3 span {
  color: var(--Vermilion-Red, #c3262b);
  font-weight: 700;
  transition: all 0.3s;
}

.template-heading svg {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  transform: translateY(2px);
}

.template-heading p {
  width: 516px;
  color: var(--color-grey-700, #575757);
}

.home-services {
  display: flex;
  width: 100%;
  padding: 108px 160px 133px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50svh;
  position: relative;
}

.home-services-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.home-services-set {
  height: 100svh;
  width: 100%;
}

.home-services-sticky {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 150px;

  position: sticky;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;
  will-change: transform, opacity;
  transition: all 0.3s;

  animation: homeServicesSet linear forwards;
  animation-timeline: view(10svh 10svh);
}

@keyframes homeServicesSet {
  0% {
    transform: translateY(200px) scale(0.8);
    opacity: 0;
  }

  30% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }

  70% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-200px) scale(0.8);
    opacity: 0;
  }
}

.home-services-set-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-services-set-img img {
  width: 100%;
  aspect-ratio: 455/343;
  object-fit: cover;
}

.home-services-set-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.home-services-set-content img {
  height: 60px;
  object-fit: cover;
}

.home-services-set-text {
  display: flex;
  width: 1005;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}

.home-services-set-text h5 {
  color: var(--color-black-Primary, #1b1b1b);
}

.home-services-set-text p {
  color: var(--color-black-300, #606060);
}

.home-art-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: sticky;
  top: 0;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-art {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 160px;
  position: relative;
  z-index: 2;
}

.home-art::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  border-radius: 50%;
  background: #ef2930;
  filter: blur(200px);
  z-index: -1;
}

.home-art img {
  width: 40%;
  aspect-ratio: 71/87;
  object-fit: cover;
}

.home-art-container {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
  border-top: 1px solid #fff;
}

.home-art-container h2 {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.home-bts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  padding: 80px 0px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: sticky;
  top: 0;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

.home-bts .template-heading {
  padding: 0px 160px;
}

.home-bts .template-heading p {
  width: 400px;
}

.home-bts-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  overflow: hidden;
  position: relative;
}

.home-bts-container::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 60%;
  left: 0px;
  top: 50%;
  transform: translate(-10%, -50%);
  background: linear-gradient(-90deg, transparent 10%, #fff 80%);
  z-index: 1;
  filter: blur(5px);
}

.home-bts-container::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 60%;
  right: 0px;
  top: 50%;
  transform: translate(10%, -50%);
  background: linear-gradient(90deg, transparent 10%, #fff 80%);
  z-index: 1;
  filter: blur(5px);
}

.home-bts-container button {
  cursor: pointer;
}

.home-bts-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  transition: all 0.6s;
}

.home-bts-set {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  flex-shrink: 0;
}

.home-bts-set img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.home-bts-set-3 {
  width: calc(5% - 16px);
  aspect-ratio: 169/248;
}

.home-bts-set-2 {
  width: calc(12.5% - 16px);
  aspect-ratio: 169/248;
}

.home-bts-set-1 {
  width: calc(20% - 16px);
  aspect-ratio: 216/316;
}

.home-bts-set-0 {
  width: 25%;
  aspect-ratio: 289/422;
}

.home-testimony {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  padding: 80px 0px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: sticky;
  top: 0;

  min-height: 100svh;
  align-items: center;
  justify-content: center;

  opacity: 0;

  animation: realitySectionAnim linear forwards;
  animation-timeline: view();
}

.home-testimony .template-heading {
  padding: 0px 160px;
}

.home-testimony-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-testimony .home-marquee-container {
  animation-duration: 50s;
}

.home-testimony-container .home-marquee-left {
  background: linear-gradient(-90deg, transparent, #f4f0e9 80%);
}

.home-testimony-container .home-marquee-right {
  background: linear-gradient(90deg, transparent, #f4f0e9 80%);
}

.home-testimony-set {
  width: 370px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 40px 16px 20px 16px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--White, #fff);
  margin-left: 16px;
}

.home-testimony-set img {
  object-fit: cover;
  margin-left: 0px;
}

.home-testimony-set-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
}

.home-testimony-set-content .l-regular {
  color: var(--color-black-400, #414141);
}

.home-testimony-set-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.home-testimony-set-heading p {
  color: var(--color-black-400, #414141);
}

.home-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 160px 250px 160px;
  flex-direction: column;
  gap: 64px;
  background: linear-gradient(270deg, #5d1215 0%, #c3262b 100%);
  position: relative;
}

.home-contact-heading {
  width: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.home-contact-heading h2 {
  color: var(--White, #fff);
  text-align: center;
}

.home-contact-heading p {
  text-align: center;
  color: var(--color-black-50, #e7e7e7);
}

.home-contact-buttons {
  display: inline-flex;
  align-items: center;
  gap: 13px;
}

.home-contact-logo {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  bottom: -96px;
}

.home-contact-form {
  display: flex;
  width: 621px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.home-contact-form button {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.home-contact-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.home-contact-form-inputs-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  align-self: stretch;
}

.home-contact-form-inputs input,
.home-contact-form-inputs textarea {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(27, 27, 27, 0.4);
  backdrop-filter: blur(20px);
  color: var(--color-black-200, #929292);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
}

.home-contact-form-inputs textarea {
  resize: none;
  height: 200px;
}

.home-contact-form input:not(:placeholder-shown),
.home-contact-form textarea:not(:placeholder-shown) {
  color: #fff;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  padding: 100px 160px 80px 160px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-top-heading {
  display: flex;
  min-width: 330px;
  flex-direction: column;
  align-items: center;
}

.footer-top-heading img {
  width: 100%;
  object-fit: cover;
}

.footer-top-heading p {
  color: var(--color-grey-700, #575757);
  text-align: center;
}

.footer-top-links {
  display: flex;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
}

.footer-top-links a {
  display: flex;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.3s;
  color: var(--color-black-300, #606060);
}

.footer-top-links a:hover {
  color: #c3262b;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-top: 24px;
  border-top: 1px solid #f2f2f2;
}

.footer-bottom p {
  color: var(--color-black-300, #606060);
}

.footer-bottom-socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-bottom-socials a {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-bottom-socials a:hover svg {
  scale: 1.3;
}

.footer-bottom-socials a svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  transition: all 0.3s;
}

.footer-bottom p a {
  color: var(--color-black-Primary, #1b1b1b);
  text-decoration: none;
  transition: all 0.3s;
}

.footer-bottom p a:hover {
  border-bottom: 1px solid #1b1b1b;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  /* Navbar */

  .navbar {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background: var(--White, #fff);
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    z-index: 2000;
  }

  .navbar-logo {
    height: 36px;
    object-fit: cover;
    z-index: 2000;
  }

  .mobile-navbar-button {
    z-index: 5000;
  }

  .mobile-navbar-button img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  .mobileNavbar {
    width: 100%;
    height: 100svh;
    background: #f8f8f8;
    position: fixed;
    right: 0;
    z-index: 1000;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 80px 20px 20px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .nav-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }

  .nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-black-Primary, #1b1b1b);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
    text-decoration: none;
    transition: all 0.3s;
    flex-shrink: 0;
  }

  .navbar .navbar-button {
    width: 100%;
    height: auto;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
  }

  /* Home */

  .home-banner {
    padding: 40px 0px 40px 0px;
  }

  .home-banner-heading {
    padding: 0px 20px;
  }

  .home-banner-heading-text {
    align-items: center;
  }

  .home-banner-heading-text h1 {
    color: var(--color-black-Primary, #1b1b1b);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.28px;
  }

  .home-banner-heading-text h1 span {
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1.28px;
  }

  .home-banner-heading-text p {
    color: var(--color-grey-700, #575757);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.28px;
  }

  .home-banner-container::before {
    width: 100%;
    height: 100%;
  }

  .home-banner-background-marquee img {
    width: 86px;
    height: 98px;
  }

  .home-marquee-left,
  .home-marquee-right {
    width: 20%;
  }

  .home-marquee-container img {
    height: 56px;
    margin-left: 56px;
  }

  .template-heading h3 {
    color: var(--color-black-Primary, #1b1b1b);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.64px;
  }

  .home-reality-wrapper {
    min-height: auto;
  }

  .home-reality {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    gap: 40px;
    min-height: auto;
  }

  .home-reality-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .home-reality-container img {
    width: 100%;
  }

  .home-reality-container p {
    color: var(--color-black-400, #414141);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-parle-wrapper {
    min-height: auto;
  }

  .home-parle {
    padding: 64px 0px;
    gap: 40px;
  }

  .home-parle .template-heading {
    padding: 0px 20px;
  }

  .home-parle-set {
    padding: 0px 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .home-parle-set-video-2 {
    order: 1;
    grid-column: span 3;
    aspect-ratio: 335/235;
  }

  .home-parle-set-video-1 {
    order: 2;
    grid-row: span 1;
    aspect-ratio: 106/125;
  }

  .home-parle-set-video-3 {
    order: 3;
    aspect-ratio: 106/125;
  }

  .home-parle-set-video-4 {
    order: 5;
    aspect-ratio: 106/125;
  }

  .home-parle-set p {
    order: 6;
    grid-column: span 3;
    color: var(--color-black-300, #606060);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-brands-wrapper {
    min-height: auto;
  }

  .home-brands {
    padding: 64px 20px;
    flex-direction: column;
    gap: 40px;
    min-height: auto;
  }

  .home-brands-left {
    width: 100%;
  }

  .home-brands-left .home-brands-buttons {
    display: none;
  }

  .home-brands-right {
    width: 100%;
  }

  .home-brands-slide {
    height: auto;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-brands-slide::-webkit-scrollbar {
    display: none;
  }

  .home-brands-set {
    width: 80%;
  }

  .home-holi {
    padding: 64px 20px;
    flex-direction: column;
  }

  .home-holi-img {
    width: 100%;
    height: auto;
  }

  .home-holi-text {
    width: 100%;
  }

  .home-holi-text h2 {
    font-size: 14px;
  }

  .home-holi-content h3 {
    color: var(--color-black-Primary, #1b1b1b);

    /* XXL/Semibold */
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.48px;
  }

  .home-holi-content h3 span {
    color: var(--color-black-Primary, #1b1b1b);

    /* H6/Bold */
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    letter-spacing: -0.64px;
  }

  .home-holi-content svg {
    height: 41px;
  }

  .home-holi-sub-text .l-regular {
    color: var(--color-grey-700, #575757);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-impact-wrapper {
    min-height: auto;
  }

  .home-impact {
    padding: 64px 20px;
    min-height: auto;
  }

  .home-impact .template-heading {
    flex-direction: column;
    gap: 8px;
  }

  .home-impact .template-heading h3 {
    width: 100%;
  }

  .home-impact .template-heading p {
    width: 100%;
  }

  .home-impact-container {
    min-width: auto;
    flex-direction: column;
    gap: 100px;
  }

  .home-impact-container-left {
    width: 100%;
  }

  .home-impact-left-set p {
    color: var(--color-black-Primary, #1b1b1b);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
  }

  .home-impact-left-set.home-impact-left-set-active {
    color: var(--color-black-Primary, #1b1b1b);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.32px;
  }

  .home-impact-container-right {
    width: 100%;
  }

  .home-services {
    display: flex;
    padding: 64px 20px;
  }

  .template-heading {
    flex-direction: column;
  }

  .home-services .template-heading {
    gap: 8px;
  }

  .home-services .template-heading h3 {
    width: 100%;
  }

  .home-services .template-heading p {
    width: 100%;
  }

  .home-services-sticky {
    flex-direction: column;
    gap: 48px;
  }

  .home-services-set-img {
    width: 100%;
  }

  .home-services-set-content {
    width: 100%;
  }

  .home-services-set-content img {
    height: 48px;
  }

  .home-services-set-text h5 {
    color: var(--color-black-Primary, #1b1b1b);
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.48px;
  }

  .home-services-set-text p {
    color: var(--color-black-300, #606060);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-art-wrapper {
    min-height: auto;
  }

  .home-art {
    padding: 64px 20px;
  }

  .home-art img {
    width: 100%;
  }

  .home-art-container {
    width: 80%;
    padding: 0px 20px;
    padding-top: 32px;
  }

  .home-art-container h2 {
    color: var(--White, #fff);
    text-align: left;
    font-family: "Press Start 2P";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.12px;
    text-transform: uppercase;
  }

  .home-bts {
    padding: 64px 0px;
    min-height: auto;
  }

  .home-bts .template-heading {
    padding: 0px 20px;
    gap: 20px;
  }

  .home-bts .template-heading h3 {
    width: 100%;
  }

  .home-bts .template-heading p {
    width: 100%;
  }

  .home-bts-container {
    gap: 32px;
  }

  .home-bts-set-0 {
    width: 40%;
  }

  .home-bts-set-1 {
    width: calc(30% - 16px);
  }

  .home-bts-container::after {
    height: 100%;
  }

  .home-bts-container::before {
    height: 100%;
  }

  .home-testimony {
    min-height: auto;
    gap: 40px;
  }

  .home-testimony .template-heading {
    padding: 0px 20px;
    align-items: flex-start;
  }

  .home-testimony .template-heading h3 {
    width: 100%;
  }

  .home-testimony .template-heading svg {
    width: 40px;
    height: 40px;
    transform: translateY(5px);
  }

  .home-marquee-container img {
    height: 32px;
    margin-left: 0px;
  }

  .home-testimony-set {
    gap: 16px;
  }

  .home-testimony-set-content .l-regular {
    color: var(--color-black-400, #414141);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-contact {
    padding: 64px 20px 200px 20px;
  }

  .home-contact-heading {
    width: 100%;
  }

  .home-contact-heading h2 {
    color: var(--White, #fff);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.64px;
  }

  .home-contact-heading p {
    color: var(--color-black-50, #e7e7e7);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .home-contact-form {
    width: 100%;
  }

  .home-contact-form-inputs input,
  .home-contact-form-inputs textarea {
    font-size: 16px;
  }

  .home-contact-form-inputs-container {
    flex-direction: column;
  }

  /* Footer */

  footer {
    padding: 120px 20px 80px 20px;
  }

  .footer-top-heading {
    width: 100%;
  }

  .footer-top-heading p {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.28px;
  }

  .footer-top-heading img {
    width: auto;
    height: 56px;
  }

  .footer-top-links {
    gap: 24px;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom-socials {
    order: 1;
    padding-bottom: 20px;
  }

  .footer-bottom p {
    order: 2;
  }
}
